/*********************************************
Cascading Style Sheets (CSS) Style Definitions
Composed by Osman Balci on May 24, 2016.
*********************************************/

html, body {
    /*---------------------------------------------------------------------------------
    If you use a background image, make sure that its size is very small, i.e., < 100KB
    -----------------------------------------------------------------------------------
    Expression Language (EL) variable 'resource' is an implicit object
    for javax.faces.application.ResourceHandler. The 'resources' is
    the default directory the handler looks for resource files in.
    */
    /* background-image: url("#{resource['images:background.jpg']}"); */

    /*---------------------------------------------------------------------------------
    Preferably, use a background color. Uncomment the one you like from examples below.
    See more HTML colors at http://www.w3schools.com/colors/colors_names.asp
    ---------------------------------------------------------------------------------*/
    /* background-color: #F0F8FF;   /* AliceBlue */
    /* background-color: #F0FFFF;   /* Azure */
    /* background-color: #F5F5DC;   /* Beige */
    /* background-color: #DCDCDC;   /* Gainsboro */
    /* background-color: #FFFFF0;   /* Ivory */
    background-color: #FAF0E6;   /* Linen */
    /* background-color: #FDF5E6;   /* OldLace */
    /* background-color: #FFEFD5;   /* PapayaWhip */
    /* background-color: #F5DEB3;   /* Wheat */
    /* background-color: #B0E0E6;   /* PowderBlue */

    /* Stretch the background image to cover the entire screen. 
    This is used only if you choose to display a background image. */
    -webkit-background-size: cover; /* For WebKit */
    -moz-background-size: cover;    /* For Mozilla */
    -o-background-size: cover;      /* For Opera */
    background-size: cover;         /* Generic */
    background-repeat: no-repeat;   /* Do not repeat the image */

    width: 100%;                    /* Set page width horizontally 100% */
    height: 100%;                   /* Set page height vertically 100% */
    margin:0px;
}

/* Style the text used under the standard HTML tag "body" */
body {
    font-family: "Times New Roman", Times, Serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

/* Style the text used under the standard HTML tag "p" for paragraph */
p {
    font-family: "Times New Roman", Times, serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    color: black;
}

/* Style the text used under the standard HTML tag "h1" for header 1 */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    color: #006400; /* Dark Green */
}

/* Style the text used under the standard HTML tag "h2" for header 2 */
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: #800000; /* Maroon */
}

/*
==================
Styling Hyperlinks
==================
Hyperlinks (or links) are styled differently depending on what state they are in:
    a:link      - normal state (unvisited link)
    a:visited   - visited state (link clicked on by user earlier)
    a:hover     - mouse over state (link when the user hovers over it)
    a:active    - active state (link currently clicked on by user)
*/

/* Set the font and color for the anchor tag */
a {
    font-family: Arial, Helvetica, sans-serif;
    color: #800000;
}

/* remove underlines and other decoration from anchor tags */
a:visited, a:link {
    text-decoration: none; /* Do not underline the link in visited state */
    color: #800000;
}

/* decorate the anchor tags to glow when hovered over or active*/
a:active,a:hover {
    /*text-decoration: underline;  Underline the link in active state */
    text-decoration: none;
    color: #43C6DB;
    text-shadow: none;
    -webkit-transition: 200ms linear 0s;
    -moz-transition: 200ms linear 0s;
    -o-transition: 200ms linear 0s;
    transition: 200ms linear 0s;
    outline: 0 none;
}

/*
===============================
Site Template Component Styling
===============================

In XHTML code, we refer to a CSS style defined in a CSS file by using Selectors. 

See CSS Selector Reference at http://www.w3schools.com/cssref/css_selectors.asp

#id defines the style of a page component whose unique identification is id.
.stylename defines the style of all elements marked as class="stylename" or
styleClass="stylename". Note that styleClass is converted to class.

Since id's are unique, the #id styling is used only once.
.stylename can be used many times to style a class of elements.
*/

/* 
Style the div component whose unique id is "page" per reference
<div id="page"> in siteTemplate.xhtml
*/
#page {
    font-family: "Times New Roman", Times, Serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

/* Style the footer copyright text */
.smallText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
}

/* Style form item text */
.formItemText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

/* Style error messages text */
.errorMessages {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    color: #FF0000;
}

/* Style the Google map display */
.map {
    margin-left: 10px;
    margin-right: 40px;
    height:600px;
}

/* 
Style the div component whose unique id is "header" per reference 
<div id="header"> in siteTemplate.xhtml
*/
#header {
    background-color: rgba(103, 182, 151, 0.8);   /* PowderBlue */
    width: 100% !important;
    height: 50px;
    position: relative !important;
    left: 0px;
    top: 0px;
    right: 0px;
    margin: 0px;
    box-shadow: 500px 0px 0px 0px rgba(103, 182, 151, 0.8);
}
/*  Movies
Style the div component whose unique id is "header" per reference 
<div id="header"> in siteTemplate.xhtml
*/
/*#header {
    background-color: #FFFFFF;  #B0E0E6;    PowderBlue 
    width: 100%;
    height: 95px;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    margin-bottom: 16px;
}*/
/* 
Style the div component whose unique id is "editableContent" per reference 
<div id="editableContent"> in siteTemplate.xhtml
*/
#editableContent {
    width: 100%;
    height: 100%; 
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    margin-bottom: 35px;
    position: relative;
    padding: 0px;
}
/*  Movies
Style the div component whose unique id is "editableContent" per reference 
<div id="editableContent"> in siteTemplate.xhtml
*/
/*#editableContent {
    width: 100%;
    height: calc(100% - 184px); 
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100px;
    margin-bottom: 16px;
}*/
/* 
Style the div component whose unique id is "footer" per reference 
<div id="footer"> in siteTemplate.xhtml
*/
#footer {
    /* PowderBlue */
    width: 100%;
    height: 80px;
    margin: 0px;
    padding: 0px;
    position: relative;
    box-shadow: 0px 500px 0px 500px rgba(103, 182, 151, 0.8);
    background-color: rgba(103, 182, 151, 0.8);
}
/*  Movies
Style the div component whose unique id is "footer" per reference 
<div id="footer"> in siteTemplate.xhtml
*/
/*#footer {
     background-color: #FFFFFF; /* #B0E0E6;    PowderBlue 
    width: 100%;
    height: 100px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-top: 5%;
}*/
/* 
Style the div component whose unique id is "footerPanelGrid" per reference
<h:panelGrid id="footerPanelGrid" columns="2"> in footerTemplate.xhtml 
*/
#footerPanelGrid {
    width: 100%;
    padding-right: 20px;
}
/* 
Style the div component whose unique id is "rightAlignPanelGroup" per reference
<h:panelGroup id="rightAlignPanelGroup"> in footerTemplate.xhtml 
*/
#rightAlignPanelGroup {
    float: right;
}
/* 
Place the logo image on the left top corner per reference
<h:panelGrid columns="2" columnClasses="leftTopCornerAlign, rightTopCornerAlign">
in headerTemplate.xhtml
*/
.leftTopCornerAlign {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0px;
}
/* 
Place the navigation menu bar on the right top corner per reference
<h:panelGrid columns="2" columnClasses="leftTopCornerAlign, rightTopCornerAlign">
in headerTemplate.xhtml 
*/
.rightTopCornerAlign {
    position: absolute;
    right: 0;
    top: 0px;
    padding: 5px;
}
/* Movies 
Place the navigation menu bar on the right top corner per reference
<h:panelGrid columns="2" columnClasses="leftTopCornerAlign, rightTopCornerAlign">
in headerTemplate.xhtml 
*/
/*.rightTopCornerAlign {
    position: absolute;
    right: 0;
    top: 24px;
    padding: 10px;
}*/

/* 
Right align column 1 text and disallow line breaks per reference
<p:panelGrid columns="2" columnClasses="columnOne, columnTwo">
in CreateAccount.xhtml, SignIn.xhtml, EditAccount.xhtml, and Profile.xhtml 
*/
.columnOne {
    text-align: right;
    white-space: nowrap;  /* Disallow line break */
}

/* 
Left align column 2 text and disallow line breaks per reference
<p:panelGrid columns="2" columnClasses="columnOne, columnTwo">
in CreateAccount.xhtml, SignIn.xhtml, and Profile.xhtml 
*/
.columnTwo {
    text-align: left;
    white-space: nowrap;  /* Disallow line break */
}

/*
current movies table rows styling
for thumbnails, movie description and the arrow button
*/
.thumbnail{
    margin: auto;
    float:right; 
    width:60px;
}

.description{
    padding: 0;
    width:350px;
}

.fixed-size>*>tr,
.fixed-size.ui-panelgrid .ui-panelgrid-cell {
    table-layout: fixed;
    word-wrap: break-word;
    border: 0px solid navy !important; 
    background-color: #F6F3EC;
}

/*
=======================
Other Style Definitions
=======================
*/

/* Style the Create, View, and Edit data fields */
.dataFields {
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

/*
==================================
Social Media Buttons Spin Animated
==================================
Animate the social media icons in footerTemplate.xhtml by spinning them
360 degrees on mouseover (hovering over).

CSS Transitions allow property changes in CSS values to occur smoothly over a
specified duration. This smoothing animates the changing of a CSS value when
triggered by a mouse click. The timing function value “all ease 0.3s” allows
the speed of the transition to change over time. 
*/
.social-roll {
    height: 36px;
    width: 36px;
    margin: 5px;
    float: left;
    border-radius: 50%;
    -webkit-transition: all ease 0.3s;  /* For WebKit */
    -moz-transition: all ease 0.3s;     /* For Mozilla */
    -o-transition: all ease 0.3s;       /* For Opera */
    -ms-transition: all ease 0.3s;      /* For IE10+ */
    transition: all ease 0.3s;          /* Generic */
}

/* Mouseover (hovering over) the social media icon animates its 360-degree rotation */
.social-roll:hover {
    -webkit-transform:rotate(360deg);  /* For WebKit */
    -moz-transform:rotate(360deg);     /* For Mozilla */
    -o-transform:rotate(360deg);       /* For Opera */
    -ms-transform:rotate(360deg);      /* For IE10+ */
    transform:rotate(360deg);          /* Generic */
}

/*
=================================
Skinning PrimeFaces UI Components
=================================

Approach 1: 
    Check the documentation of a PrimeFaces UI component to identify
    which styles are used so that you can override them.

    You can also Inspect the UI element under the Chrome web browser
    to determine which CSS style is used so that you can override it. 

Approach 2: 
    Define a style in this file and apply it to the PrimeFaces element
    using the styleClass attribute to override the PrimeFaces style.

Styles are applied in a cascading order. To make sure that a
style is applied regardless of where the style is defined in the
cascading hierarchy, use the !important attribute.
*/

/* Approach 1: Override PrimeFaces style definitions to use smaller Arial font */
.ui-datatable-data, .facetHeader, .ui-panel-titlebar, .ui-paginator, .ui-dialog-content, .ui-confirm-dialog-message, .ui-widget-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}


/*Movies*/
/*Changes of font of almost all text like labels and input boxes in app*/
/*.ui-widget {
    font-size: 12px !important;
}*/

/*Movies*/
/* The overflow property specifies what happens if content overflows an element's box. */
/*.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}*/

/*Movies*/
/*.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}*/

/*Movies*/
/* This styles the <p:panel header="..."> */
/*.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}*/

/*.ui-panel {
    background-color: #F0FFFF;
}*/

/*.travelModeGroup {
    margin-left: 30px;
}*/

/*Position the confirmation dialog box on the center of the screen per
reference <p:confirmDialog id="confirmDialogBox" ...> in Profile.xhtml
*/
#confirmDialogBox {
    top: 50%;
    left: 50%;
}

/* Approach 2: Override PrimeFaces p:commandButton style */
.commandButton {
    border-radius: 2em !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 10pt !important;
    font-style: normal !important;
    font-weight: normal !important;
    text-decoration: none;
    color: black;
}

.searchButton {
    border-radius: 2em !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 10pt !important;
    font-style: normal !important;
    font-weight: normal !important;
    text-decoration: none;
    color: black;
    height: 30px !important;
    margin-top: 10px !important;
}

/*Movies*/
.button {
    align-content: center;
    alignment-baseline: central;
    align-items: center;
    alignment-adjust: central;
    align-self: center;
}

/*Movies*/
.ui-button {
    margin-top: 10px !important;
}

/* Approach 2: Override PrimeFaces p:menubar style */
.menubar {
    background: none;
    border: none;
}

/*
Thumbnails, description and the arrow button
*/
.thumbnail{
    margin: auto;
    float:right; 
    width:60px;
}

.description{
    padding: 0;
    width:350px;
}

/*Apartmates*/
.arrow{
    width:20px;
    font-size: 24px;
}

.participationColumn{
    width:15%;
}

/*Movies*/
/*.arrow {
    font-size: 24px;
    text-align: center;
}*/

/*Movies*/
.inputTextBox {
    font-family: Arial,sans-serif;
    align-content: center;
    alignment-baseline: central;
    align-items: center;
    alignment-adjust:  central;
    align-self: center;
}

/* Roommate logo */
.roommatelogo {
    align-content: center;
    alignment-baseline: central;
    align-items: center;
    alignment-adjust: central;
    align-self: center;
}

.roommateDetails {
    width: 60%;
    padding-left: 0px;
}

/*Movies*/
.searchRecordPhotoColumn {
    align-content: center;
    alignment-baseline: central;
    align-items: center;
    alignment-adjust: central;
    align-self: center;
    width: 13%;
}

.opportunityInfoPhotoColumn {
    align-content: center;
    alignment-baseline: central;
    align-items: center;
    alignment-adjust: central;
    align-self: center;
    width: 18%;
}

.participantPhotoColumn {
    align-content: center;
    alignment-baseline: central;
    align-items: center;
    alignment-adjust: central;
    align-self: center;
    width: 10%;
}

.searchFieldColumn {
    text-align: left;
    white-space: nowrap;
}

.searchZipCodeFieldColumn {
    text-align: left;
    white-space: nowrap;
    width: 94px;
}

.searchZipCodeRadiusFieldColumn {
    text-align: left;
    white-space: nowrap;
}

/*Details below are from Movies*/
.detail1 {
    width: 60%;
    padding-left: 0px;
}

.detail2 {
    width: 70%;
    padding-left: 0px;
}

.detail3 {
    width: 80%;
}

.detail4 {
    width: 30%;
    padding-left: 0px;
}

.detail td {
    font-size: 24px;
}


.ui-dataGrid {
    background-color: white !important;
    color: #09242C !important;
    font-size: 40px;
}

/*Apartmates*/
/*.ui-datascroller-item td {
    border: none !important;
    margin: 0px !important;
    text-align: left;
}*/

/*Movies*/
/*.ui-datascroller-item td {
    border: none !important;
    margin: 0px !important;
    padding: 0px !important;
}*/

/*VolunteerCloud*/
/*Comment to see lines of table per record*/
.ui-datascroller-item td {
    border: none !important;
    margin: 0px !important;
    text-align: left;
    padding: 0px !important;
}

.panelGridCenter td {
    text-align: center !important;
}

.ui-panelgrid-cell {
    border: black !important;
}

.ui-panelgrid-search-fields td {
    border: black !important;
    margin: 0px !important;
    text-align: left;
    padding: 0px !important;
}

.dataTable {
    padding-right: 5px;
}

.ui-datatable-odd {
    background-color: white !important;
    color: #09242C !important;
}

/*Apartmates*/
/*.ui-datatable-even {
    background-color: #ddf4f4 !important;
    transition: all .125s ease-in-out !important;
}*/

/*Movies*/
.ui-datatable-even {
    background-color: white !important;
    color: #09242C !important;
}

/*Apartmates*/
/*Color of row when you hover over it*/
/*.ui-datatable-odd:hover {
    background-color: rgba(129,208,177,.3) !important;
}*/

/*Apartmates*/
/*Color of row when you hover over it*/
/*.ui-datatable-even:hover {
    background-color: rgba(129,208,177,.3) !important;
}*/

/*Movies*/
/*Removes brightness on the borders of each row and text decoloration*/
.ui-state-hover {
    background-image: none !important;
    box-shadow: none !important;
    color: #09242C !important;
    text-decoration: none !important;
    text-shadow: none !important;
}

/*Apartmates*/
/*Changes color of selected row in datatable*/
/*.ui-state-highlight{
    background-color: rgba(129,208,177,.8) !important;
    color: #09242C !important;
    text-decoration: none !important;
    text-shadow: none !important;
}*/

/*Movies*/
/*Changes color of selected row in datatable*/
.ui-state-highlight {
    background-color: white !important;
    background-image: none !important;
    box-shadow: none !important;
    color: #09242C !important;
    text-decoration: none !important;
    text-shadow: none !important;
}

.ui-state-highlight-command-button {
    background-color: green !important;
    background-image: none !important;
    box-shadow: none !important;
    color: #09242C !important;
    text-decoration: none !important;
    text-shadow: none !important;
}

.ui-selectmanycheckbox {
}

.ui-chkbox-box {
    margin-left: 100px !important;
    padding: 0px !important;
}

.ui-chkbox-icon {
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
}

.ui-chkbox-label {
    margin: 0px !important;
    padding: 0px !important; 
    font-size: 20px !important;
    text-align: left !important;
    width: 90% !important;
}

.ui-chkbox-box-2 {
    margin-left: 0px !important;
    padding: 0px !important;
}

.ui-chkbox-icon-2 {
    margin: 0px !important;
    padding: 0px !important;
    width: 0% !important;
}

.ui-chkbox-label-2 {
    margin: 0px !important;
    padding: 0px !important; 
    font-size: 12px !important;
    text-align: left !important;
    width: 0% !important;
}

.disableSelectManyCheckbox {
    pointer-events: none !important;
}

/*.ui-state-disabled {
    color: black;
    opacity: 1 !important;
}*/

.participated {
    text-align: center;
    color: green;
}

.noParticipation {
    text-align: center;
    color: red;
}

.High{
color: #cc0033 !important;
font-weight: bolder !important;
}

.Medium{
    color: #ff9900 !important;
font-weight: bold !important;
}

.Low{
    color: #0099ff !important;
font-weight: lighter !important;
}

/* Style the roommate's photo in Profile.xhtml */
.profilePhoto {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.searchRecordPhoto {
    display: inline-block;
    width: 150px;
    height: 150px;
    /*border-radius: 50%;*/ /*Makes picture round*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.myTable thead {
    display:none;
}